/Exercici_5.java/JOC2/nbproject/private/
/Exercici_5.java/JOC2/build/
/Exercici_5.java/Repte1/nbproject/private/
/Exercici_5.java/SALARI/nbproject/private/
/Exercici_5.java/SALARI/build/
/Exercici_5.java/Monedes1/nbproject/private/
/Exercici_5.java/Monedes1/build/
/Exercici_5.java/Monedes2/nbproject/private/
/Exercici_5.java/Monedes2/build/
/Exercici_5.java/Repte6/nbproject/private/
/Exercici_5.java/Repte6/build/
/Exercici_5.java/Repte5/nbproject/private/
/Exercici_5.java/Repte5/build/
/Exercici_5.java/3enralla/nbproject/private/
/Exercici_5.java/tresenralla/nbproject/private/
