/Exercici_5.java/JOC2/nbproject/private/
/Exercici_5.java/JOC2/build/
/Exercici_5.java/Repte1/nbproject/private/
/Exercici_5.java/SALARI/nbproject/private/
/Exercici_5.java/SALARI/build/
/Exercici_5.java/Monedes1/nbproject/private/
/Exercici_5.java/Monedes1/build/
/Exercici_5.java/Monedes2/nbproject/private/
/Exercici_5.java/Monedes2/build/
/Exercici_5.java/Repte6/nbproject/private/
/Exercici_5.java/Repte6/build/
/Exercici_5.java/Repte5/nbproject/private/
/Exercici_5.java/Repte5/build/
/Exercici_5.java/3enralla/nbproject/private/
/Exercici_5.java/tresenralla/nbproject/private/
/Exercici_6.java/tresenralla/build/
/Exercici_7.java/JavaApplication10/nbproject/private/
/Exercici_7.java/JavaApplication10/build/
/Exercici_7.java/Exercici2/nbproject/private/
/Exercici_7.java/Exercici2/build/
/Exercici_7.java/Exercici3/nbproject/private/
/Exercici_7.java/Exercici3/build/
/Exercici_7.java/Exercici4/nbproject/private/
/Exercici_8.java/aplicacio2A_objectes/nbproject/private/
/Exercici_8.java/aplicacio2A_objectes/build/
/Exercici_8.java/aplicacio2B_objectes/nbproject/private/
/Exercici_8.java/aplicacio2B_objectes/build/
/Exercici_9.java/JavaApplication15/nbproject/private/
/Exercici_9.java/practica3A/nbproject/private/
/Exercici_9.java/practica3A/build/
/Exercici_9.java/Practica3B/nbproject/private/
/Exercici_9.java/practica3C/nbproject/private/
/Exercici_9.java/practica3C/build/
/Exercici_10.java/practica4A/nbproject/private/
/Exercici_10.java/practica4A/build/
